<div class="chat-channel">
	<div class="chat-box-section">
		<div class="chat-box channel-name">
			<h4>{{chatComponent.selectedChannel?.name}}</h4>
			<div class="channel-buttons">
				<a>
					<img class="settings-icon" src="../../../assets/settings.png">
				</a>
				<button class="button_small">INVITE</button>
				<button class="button_small button_reverse">LEAVE</button>
			</div>
		</div>
		<div class="chat-box message-display" id="chatHistory">
				<div class="message" *ngFor="let message of messages">
					<div class="sender">{{ message.sender.username }}:</div>
					<div>{{ message.content }}</div>
				</div>
				<div id="anchor"></div>
		</div>

		<div class="chat-box message-input">
			<input type="text" class="chat_input" (keyup.enter)="sendInput()" [formControl]="messageInput">
			<button class="button_small" (click)="sendInput()">SEND</button>
		</div>
	</div>
	<div class="channel-member-section">
		<div class="chat-box channel-member-display">
			<h2>OWNER</h2>
			<h2>ADMINS</h2>
			<h2>MEMBERS</h2>
		</div>
	</div>
</div>
