<div *ngIf="selectedUser" class="profile_flex_column">
	<div class="profile_flex_row">
		<div class="box_row profile_box_row">
			<img class="profile_picture_big" src={{selectedUser.picture}}>
			<div>
				<h3>{{selectedUser.username}} </h3>
				<table>
					<tr>
						<td><h4>Rank</h4></td>
						<td><h4>#{{selectedUser.rank}}</h4></td>
					</tr>
					<tr>
						<td><h4>XP</h4></td>
						<td><h4>{{selectedUser.xp}}</h4></td>
					</tr>
				</table>
			</div>
			<div>
				<a routerLink="/settings" routerLinkActive="active">
					<img class="settings_icon" src="../../assets/settings.png">
				</a>
			</div>

			
		</div>
		<div class="box_column profile_box_column">
			<h1> - ACHIEVEMENTS - </h1>
			<div class="achievements_box">
				<div class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Have a banana!</h6>
				</div>
				<div class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Have a second banana...</h6>
				</div>
				<div class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>King Pong</h6>
				</div>
				<div class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>It's a-me!</h6>
				</div>
				<div class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Jungle VIP</h6>
				</div>
			</div>
		</div>
	</div>
	<h1> - GAME HISTORY - </h1>
	<div class="profile_flex_column">
		
		<div *ngFor="let history of gameHistory" class="box_row profile_box_games">
			<h4>{{ history.result }}</h4>
			<h4>{{ history.player_score }} : {{ history.other_score }}</h4>
			<div class="profile_box_opponent">
				<img class="profile_picture" src= "{{ history.other_img }}">
				<h4>{{ history.other_name }}</h4>
			</div>
			<h4 class="center">03.05.2023<br class="br_top_gap">17:47h</h4>
			<h4>+{{ history.xp }}XP</h4>
		</div>

	</div>
</div>
<div *ngIf="!selectedUser">
	<h1>NO SUCH USER</h1>
	<h3>(WORK IN PROGRESS)</h3>
</div>