.profile_flex_column {
	display: flex;
	flex-direction: column; 

	border-style: solid;
	border-width: 2px;
	border-color: magenta;
}

.profile_flex_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vmin 2vmin;

	border-style: solid;
	border-width: 2px;
	border-color: cyan;
}

.profile_box_row {
	justify-content: flex-start;
	align-items: center;
	width: 80vmin;
	min-height: auto;
	column-gap: 2vmin;
	margin: 0vmin;
}

.profile_box_column {
	justify-content: center;
	align-items: center;
	width: 80vmin;
	min-height: auto;
	margin: 0vmin;
	
	border-style: solid;
	border-width: 2px;
	border-color: magenta;
}

h1 {
	margin: 2vmin;
}