<div *ngIf="selectedUser" class="profile_flex_column">

	<div class="profile-user-relation" *ngIf="!isProfileOfActiveUser()">
		<ng-container *ngIf="isFriendsWithActiveUser()">
			<h4>You are friends with {{selectedUser.username}}.</h4>
			<button class="button_small profile-button" (click)="unfriendSelectedUser()">UNFRIEND</button>
		</ng-container>
		<ng-container *ngIf="hasSentFriendRequestToActiveUser()">
			<h4>You have an open friend request from {{selectedUser.username}}.</h4>
			<button class="button_small profile-button" (click)="acceptFriendRequestFromSelectedUser()">ACCEPT</button>
			<button class="button_small profile-button" (click)="declineFriendRequestFromSelectedUser()">DECLINE</button>
		</ng-container>
		<ng-container *ngIf="hasReceivedFriendRequestFromActiveUser()">
			<h4>{{selectedUser.username}} has not replied to your friend request yet.</h4>
			<button class="button_small profile-button" (click)="withdrawFriendRequestToSelectedUser()">WITHDRAW FRIEND REQUEST</button>
		</ng-container>
		<ng-container *ngIf="hasBeenBlockedByActiveUser()">
			<h4>You have blocked {{selectedUser.username}} from interacting with you.</h4>
			<button class="button_small profile-button" (click)="unblockSelectedUser()">UNBLOCK</button>
		</ng-container>
		<ng-container *ngIf="hasNoRelationWithActiveUser()" class="profile-user-relation">
			<h4>You are not friends with {{selectedUser.username}}.</h4>
			<button class="button_small profile-button" *ngIf="!hasBlockedActiveUser()" (click)="sendFriendRequestToSelectedUser()">SEND FRIEND REQUEST</button> 
			<button class="button_small profile-button" (click)="blockSelectedUser()">BLOCK</button> 
		</ng-container>
	</div>

	<div class="profile_flex_row">
		<div class="box_row profile_box_row">
			<div class="profile_picture_big">
				<img  src={{selectedUser.picture}}>
			</div>
			
			<div>
				<h3>{{selectedUser.username}}</h3>
				<table>
					<tr>
						<td><h4>Rank</h4></td>
						<td><h4>{{selectedUser.rank}}</h4></td>
					</tr>
					<tr>
						<td><h4>XP</h4></td>
						<td><h4>{{selectedUser.xp}}</h4></td>
					</tr>
				</table>
			</div>
			<div>
				<a routerLink="/settings" routerLinkActive="active" *ngIf="selectedUser.id === activeUser?.id">
					<img class="settings_icon" src="../../assets/settings.png">
				</a>
			</div>


		</div>
		<div class="box_column profile_box_column">
			<h1>-&nbsp;ACHIEVEMENTS&nbsp;-</h1>
			<div class="achievements_box">
				<div *ngIf="archivementIsUnlocked(7)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>King of the Jungle</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(2)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Destroyed the enemy</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(3)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Won 5 Games</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(4)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Alternative gamer</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(5)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Found a friend</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(6)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>Ragequit</h6>
				</div>
				<div *ngIf="archivementIsUnlocked(1)" class="achievement">
					<img class="achievement_icon" src="../../assets/achievements.png">
					<h6>First Login</h6>
				</div>
			</div>
		</div>
	</div>
	<h1> - GAME HISTORY - </h1>
	<div class="profile_flex_column game-history">
		<div *ngFor="let history of gameHistory" [class.red]= "getOwnScore(history) < getOtherScore(history)" class="box_row profile_box_games">
			<h4>{{ getOwnScore(history) }} : {{ getOtherScore(history) }}</h4>
			<div class="profile_box_opponent">
				<img class="profile_picture" src= "{{ getOtherPlayer(history).picture }}">
				<h4>{{ getOtherPlayer(history).username }}</h4>
			</div>
			<h4 class="center">{{ history.timestamp.toLocaleString().split(',')[0] }}<br class="br_top_gap">{{ history.timestamp.toLocaleString().split(',')[1] }}</h4>
			<h4>+ {{ getOwnXP(history) }}XP</h4>
		</div>
	</div>
</div>
<div *ngIf="!hasSelectedUser">
	<h1>NO SUCH USER</h1>
</div>