<div class="home_flex_columns">
	<div class="home_flex_rows">
		<button class="home_big_button" (click)="joinGame()">
			JOIN GAME
		</button>
		<h1>
			- ONGOING GAMES -
		</h1>
		<div *ngFor="let game of onGoingGames" class="home_game_box" (click)="watchThisMatch(game.roomNbr)">
			<!-- <img class="profile_picture" src="{{ game.player1_profile_pic }}"> -->
			<div class="player-info">
				<h4>{{ game.leftUserName }}</h4>
				<h2>{{ game.goalsLeft}}</h2>
			</div>
			<h2>VS</h2>
			<div class="player-info">
				<h4>{{ game.rightUserName}}</h4>
				<h2>{{ game.goalsRight}}</h2>
			</div>
			<!-- <img class="profile_picture" src="{{ game.player2_profile_pic }}"> -->
		</div>
	</div>
	<div class="home_flex_rows">
		<app-notification class="notification-container"></app-notification>
	</div>
</div>
