h2, h4 {
	margin-block-start: 0;
  margin-block-end: 0;
}

.home_flex_columns {
	height: 80vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
}

.home_flex_rows {
	display: flex;
	flex-direction: column;
	padding: 0 1%;
	text-align: center;
	justify-content: flex-start;
	align-items: center;
	row-gap: 2vmin;
}

.home_big_button {
	width: 100%;
}

.home_medium_button {
	width: 25vmin;
	font-size: 20px;
}

.home_game_box {
	width: 94%;
	background-color: rgb(2, 88, 2);
	border-radius: 15px;
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	cursor: pointer;
}

.player-info {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
}

.leaderboard-container {
	align-items: center;
	width: 100%;
}

.top3Leaderboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 1rem;
	margin-bottom: 1rem;
}

.leaderboard_user_box {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	margin: 0 1rem;
	align-items: center;
}

.leaderboard_box_user {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-width: 650px;
	row-gap: 1rem;
	padding-left: 2vmin;
	padding-right: 2vmin;
	
	background-color: rgb(2, 88, 2);
	border-radius: 15px;
}

.leaderboard_picture {
	margin: 0.5rem;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
}

.leaderboard_picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.red {
	color: red;
}

.yellow {
	color: yellowgreen;
}

.leaderboard-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 0.8rem;
	align-items: center;
	margin: 0.5rem;
}

.leaderboard-icon {
	height: 30px;
	width: 30px;
}	

.right-side {
	row-gap: 3rem;
}