<div *ngIf="activeUser" class="home_flex_columns">
	<div class="home_flex_rows">
		<button class="home_big_button" routerLink="/game" routerLinkActive="active" >
			JOIN GAME
		</button>
		<h1>
			- ONGOING GAMES -
		</h1>
		<div *ngFor="let game of activeMatches" class="box_row home_game_box">
			<img class="profile_picture" src="{{ game.player1_profile_pic }}">
			<h4>
				{{ game.player1_name }}
				<br>
				{{ game.player1_score}}
			</h4>
			<h4>vs</h4>
			<h4>
				{{ game.player2_name }}
				<br>
				{{ game.player2_score}}
			</h4>
			<img class="profile_picture" src="{{ game.player2_profile_pic }}">
		</div>
	</div>
	<div class="home_flex_rows">
		Placeholder
	</div>
</div>
<div *ngIf="!activeUser" class="home_flex_columns">
	<button class="home_login_button" (click)="onLogin()">LOGIN</button>
	<button class="home_login_button" (click)="onLogintra()">LOGINtra</button>
</div>
<div *ngIf="activeUser">
	<button class="home_big_button" (click)="deleteAllCookies()">DELETE COOKIES</button>
</div>
