h2, h4 {
	margin-block-start: 0;
  margin-block-end: 0;
}

.home_flex_columns {
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
}

.home_flex_rows {
	display: flex;
	flex-direction: column;
	padding: 0 2%;
	width: 46%;
	text-align: center;
	justify-content: flex-start;
	align-items: center;
	row-gap: 2vmin;
}

.home_big_button {
	width: 100%;
}

.home_medium_button {
	width: 25vmin;
	font-size: 20px;
}

.home_game_box {
	width: 94%;
	background-color: rgb(2, 88, 2);
	border-radius: 15px;
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	cursor: pointer;
}

.player-info {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
}

.notification-container {
	width: 100%;
	height: 45%;
}

.top3Leaderboard {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.leaderboard_user_box {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.leaderboard_box_user {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: auto;
	max-height: 80px;
	margin: 5px 2vmin;
	padding-left: 7vmin;
	padding-right: 7vmin;
	
	background-color: rgb(2, 88, 2);
	border-radius: 15px;
}

.leaderboard_picture {
	height: 5vmin;
	width: 5vmin;
}

.red {
	color: red;
}

.yellow {
	color: yellowgreen;
}