<div class="home_flex_columns">
	<div class="home_flex_rows">
		<button class="home_big_button">
			JOIN GAME
		</button>
		<h1>
			- ONGOING GAMES -
		</h1>
		<div class="box">
			<img class="profile_picture" src="../../assets/profile.jpg">
			<h3>Player1</h3>
			<h3>vs</h3>
			<h3>Player2</h3>
			<img class="profile_picture" src="../../assets/profile.jpg">
		</div>
		<div class="box">
			<img class="profile_picture" src="../../assets/profile.jpg">
			<h3>Player1</h3>
			<h3>vs</h3>
			<h3>Player2</h3>
			<img class="profile_picture" src="../../assets/profile.jpg">
		</div>
	</div>
	<div class="home_flex_rows">
		Placeholder
	</div>
</div>