<div class="game-display">
	<div class="button-container">
		<img *ngIf="stopSearch" width="300" height="300" src="/assets/gameLoading.gif">
		<button class="buttonSearch" *ngIf="search === true"
			(click)="startGame()">SEARCH FOR OPPONENT</button>
	
		<button class="buttonStopSearch" *ngIf="stopSearch === true"
			(click)="stopSearching()">CANCEL</button>

		<button class="buttonStopSearch" *ngIf="search === true"
			routerLink="/home" routerLinkActive="active">RETURN HOME</button>
	</div>
</div>
