.home_flex_columns {
	margin: 2vmin 2vmin;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
}

.home_flex_rows {
	display: flex;
	flex-direction: column;
	width: 100vmin;
	text-align: center;
	justify-content: flex-start;
	align-items: center;
	row-gap: 2vmin;
}

.home_big_button {
	width: 85vmin;
}

.home_game_box {
	width: 80vmin;

	justify-content: space-between;
}

.home_game_box br {
	margin-bottom: 10%;
}

.home_login_button {
	margin: 25vmin;
	width: 40vmin;
}

.pop-up-input {
	margin-bottom: 1.5rem;
}

.red {
	color: red;
	margin-top: 0;
}