<div class="home_flex_columns">
	<table>
		<button class="home_login_button" (click)="onLogin()">LOGIN</button>
	</table>
</div>
<div class="popup" id="popup-2FA-login">
	<div class="popup-content">
		<h2>2-Factor-Authentication</h2>
		<h4>Please enter a code from your authenticator app to authenticate</h4>
		<input  class="pop-up-input" type="text" [(ngModel)]="twoFACode">
		<h4 class="red" *ngIf="wrongCode">Code could not be recognized. Please try again.</h4>
		<button class="button_medium" [disabled]="!userDataService.twoFACodeIsValid(twoFACode)" (click)="popUpConfirm()">CONFIRM</button>
	</div>
</div>