h4 {
	margin: 0.7vh;
}

.chat-dm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	row-gap: 1.5%;
	height: 100%;
	width: 98%
}

.chat-box {
	border-style: solid;
	border-width: 3px;
	border-color: red;
	padding: 5px;

	background-color: black;
	color: red;
	width: 100%;
}

.contact-name,
.message-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	height: 5%;
}

.message-display {
	font-family: press_start;
	font-size: 1vmin;
	color: white;
	height: 87%;
}

.chat_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	height: 100%;
	width: 100%;
	border-radius: 0;
	font-family: press_start;
	font-size: 1.25vmin;
	color: orange;
	padding-left: 5px;
	padding-right: 5px;
}
