<div class="settings_column">
	<h1> - ACCOUNT SETTINGS - </h1>
	<table>
		<tr>
			<td><h4>Nickname:</h4></td>
			<td>
				<input type="text" [(ngModel)]="newUsername" placeholder="{{activeUser?.username}}">
			</td>
		</tr>
		<tr>
			<td><h4>Profile picture:</h4></td>
			<td>
				<input type="file" class="file-input" 	(change)="onFileSelected($event)" #fileUpload>
			</td>
		</tr>
		
	
		<tr>
			<td><h4>Two-Factor-<br>Authentication:</h4></td>
			<td>
				<input type="checkbox" id="switch" [(ngModel)]="twoFAEnabled" (click)="toggle2FA()"/>
				<label for="switch" class="toggle"></label>
			</td>
		</tr>
	</table>
	<h1> - GAME SETTINGS - </h1>
	<div class="game_design_row">
		<div class="game_design_column">
			<img class="game_design_preview" src="../../assets/game_design1.png">
			<label for="design1" class="container">
				<input type="radio" id="design1" name="game_design" value="1" [(ngModel)]="selectedMap">
				<span class="checkmark"></span>
			</label>
		</div>
		<div class="game_design_column">
			<img class="game_design_preview" src="../../assets/game_design2.png">
			<label for="design2" class="container">
				<input type="radio" id="design2" name="game_design" value="2" [(ngModel)]="selectedMap">
				<span class="checkmark"></span>
			</label>
		</div>
		<!-- <div class="game_design_column">
			<img class="game_design_preview" src="../../assets/game_design.png">
			<label for="design3" class="container" hidden="true">
				<input type="radio" id="design3" name="game_design" value="3" [(ngModel)]="selectedMap">
				<span class="checkmark"></span>
			</label>
		</div> -->
	</div>
	<div class="settings_row">
		<button (click)="saveChanges()">SAVE CHANGES</button>
		<button class="button_reverse" routerLink="{{'/profile/' + activeUser?.username}}" routerLinkActive="active">CANCEL</button>
	</div>
</div>


<div class="popup" id="popup-2FA-code">
	<div class="popup-content">
		<h2>2-FACTOR-AUTHENTICATION</h2>
		<h4>Please enter a code from your authenticator app to confirm</h4>
		<input  class="popup-2FA-code-input" type="text" [(ngModel)]="twoFACode" >
		<h6 class="error-message" *ngIf="invalidCode">Invalid code. Please try again.</h6>
		<div class="popup-buttons">
			<button class="button_medium" [disabled]="!userService.twoFACodeIsValid(twoFACode)" (click)="popUpCodeConfirm('popup-2FA-code')">CONFIRM</button>
			<button class="button_medium button_reverse" (click)="popUpCancel('popup-2FA-code')">CANCEL</button>
		</div>
	</div>
</div>

<div class="popup" id="popup-2FA-qr">
	<div class="popup-content">
		<h2>2-FACTOR-AUTHENTICATION</h2>
		<h4>Please scan the QR code with your Authenticator App and enter a code to confirm activating Two-Factor-Authentication</h4>
		<div class="popup-content-qr">
			<img class="image-qr-code" src="{{ qrCode }}">
			<input  class="popup-2FA-code-input" type="text" [(ngModel)]="twoFACode" >
			<h6 class="error-message" *ngIf="invalidCode">Invalid code. Please try again.</h6>
		</div>
		<div class="popup-buttons">
			<button class="button_medium" [disabled]="!userService.twoFACodeIsValid(twoFACode)" (click)="popUpCodeConfirm('popup-2FA-qr')">CONFIRM</button>
			<button class="button_medium button_reverse" (click)="popUpCancel('popup-2FA-qr')">CANCEL</button>
		</div>
	</div>
</div>
