h4 {
	line-height: 3vmin;
}

table {
	width: 140vmin
}

button {
	width: 40vmin
}

.settings_column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 3vmin 3vmin;

	border-style: solid;
	border-width: 2px;
	border-color: magenta;
}

.settings_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 3vmin 3vmin;
	column-gap: 4vmin;

	border-style: solid;
	border-width: 2px;
	border-color: cyan;
}