<div class="settings_column">
	<div class="upper-row">
		<h1> - ACCOUNT SETTINGS - </h1>
		<button class="button_medium" routerLink="{{'/profile/' + activeUser?.username}}">RETURN TO PROFILE</button>
	</div>

	<table>
		<tr>
			<td><h4>Nickname:</h4></td>
			<td>
				<div class="settings-name-container">
					<input type="text" [(ngModel)]="newUsername" [disabled]="disableNameForm" placeholder="{{activeUser?.username}}">
					<button class="button_small" *ngIf="disableNameForm" (click)="setDisableName(false)">EDIT NAME</button>
					<button class="button_small" *ngIf="!disableNameForm" (click)="saveNewUsername()">SAVE NAME</button>
				</div>
			</td>
		</tr>
		<tr>
			<td><h4>Profile picture:</h4></td>
			<td>
				<div class="settings_row">
					<div class="settings-profile-picture">
						<img src={{activeUser?.picture}}>
					</div>
					<div>
						<button class="button_small upload-button" #fileButton>CHANGE PICTURE</button>
						<div class="upload-input">
							<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
						</div>
					</div>
					
				</div>
				
			</td>
		</tr>
		
	
		<tr>
			<td><h4>Two-Factor-<br>Authentication:</h4></td>
			<td>
				<input type="checkbox" id="switch" [(ngModel)]="twoFAEnabled" (click)="toggle2FA()"/>
				<label for="switch" class="toggle"></label>
			</td>
		</tr>
	</table>
	<h1> - GAME SETTINGS - </h1>
	<div class="game_design_row">
		<div class="game_design_column" [ngClass]="selectedMap === 1 ? 'selected-map' : ''">
			<img class="game_design_preview" src="../../assets/game_design1.png">
			<button class="button_small" [disabled]="selectedMap === 1" (click)="selectOtherMap(1)">SELECT</button>
		</div>
		<div class="game_design_column" [ngClass]="selectedMap === 2 ? 'selected-map' : ''">
			<img class="game_design_preview" src="../../assets/game_design2.png">
			<button class="button_small" [disabled]="selectedMap === 2" (click)="selectOtherMap(2)">SELECT</button>
		</div>
	</div>
</div>


<div class="popup" id="popup-2FA-code">
	<div class="popup-content">
		<h2>2-FACTOR-AUTHENTICATION</h2>
		<h4>Please enter a code from your authenticator app to confirm</h4>
		<input  class="popup-2FA-code-input" type="text" [(ngModel)]="twoFACode" >
		<h6 class="error-message" *ngIf="invalidCode">Invalid code. Please try again.</h6>
		<div class="popup-buttons">
			<button class="button_medium" [disabled]="!userService.twoFACodeIsValid(twoFACode)" (click)="popUpCodeConfirm('popup-2FA-code')">CONFIRM</button>
			<button class="button_medium button_reverse" (click)="popUpCancel('popup-2FA-code')">CANCEL</button>
		</div>
	</div>
</div>

<div class="popup" id="popup-2FA-qr">
	<div class="popup-content">
		<h2>2-FACTOR-AUTHENTICATION</h2>
		<h4>Please scan the QR code with your Authenticator App and enter a code to confirm activating Two-Factor-Authentication</h4>
		<div class="popup-content-qr">
			<img class="image-qr-code" src="{{ qrCode }}">
			<input  class="popup-2FA-code-input" type="text" [(ngModel)]="twoFACode" >
			<h6 class="error-message" *ngIf="invalidCode">Invalid code. Please try again.</h6>
		</div>
		<div class="popup-buttons">
			<button class="button_medium" [disabled]="!userService.twoFACodeIsValid(twoFACode)" (click)="popUpCodeConfirm('popup-2FA-qr')">CONFIRM</button>
			<button class="button_medium button_reverse" (click)="popUpCancel('popup-2FA-qr')">CANCEL</button>
		</div>
	</div>
</div>
