<div class="title-notifications">
	<img class="notification-icon" src="../../assets/notification_icon.png">
	<h2 class="title-notifications-text">NOTIFICATION CENTER</h2>
</div>
<div class="notification-container">
	<h4>HALLO</h4>
	<div class="notification">
		<!-- img: type (friend or channel invite)
		title: New Friend Request / Open Friend Request / New Channel invite
		text: XYZ has send you a friend request / has not answered your friend request yet / has confirmed your friend request / has send you a channel invite to channel ABC -->
	</div>
	<div class="notification"></div>
</div>
