<div class="flex_header">
	<a routerLink="/home" routerLinkActive="active">
		<img src="../../assets/DonkeyPong_logo.png" />
	</a>
	<div class="link-icons">
		<a *ngIf="checkForActiveUser()" class="flex_chat_icon" routerLink="/chat" routerLinkActive="active">
			<img class="chat_icon" src="../../assets/chat.png">
			<h2>CHAT</h2>
		</a>
		<a *ngIf="checkForActiveUser()" class="flex_header_profile" routerLink="{{'/profile/' + activeUser?.username}}" routerLinkActive="active">
			<img class="header_profile_picture" src={{activeUser?.picture}}>
			<h2>MY<br>PROFILE</h2>
		</a>
	</div>

</div>
