@font-face {
  font-family: 'jumpman';
  src: url('./assets/Jumpman.ttf') format('trueType');
}

.App {
  background: no-repeat url(./assets/background.jpg);
}

.Header-logo {
	margin: 1vmin;
	text-align: left;
	height: 15vmin;
	pointer-events: none;
}

.header_flex {
	display: flex;
	flex-direction: row;
	margin-left: 1vmin;
	margin-right: 2vmin;
	justify-content: space-between;
	align-items: center;
	text-align-last: left;
}

.Home {
  margin: 3vmin 2vmin;
  font-family: jumpman;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.Matchmaking {
  font-family: jumpman;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.big_button {
  margin: auto;
  text-align: center;
  width: 75vmin;
  background: red;
  font-family: jumpman;
  font-weight: bold;
  font-size: 6vmin;
  color: rgb(4, 56, 18);
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  border-radius: 15px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: orange;
}

.flex_row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: magenta;
}

.flex_column {
  margin: 1vmin;
  text-align: center;
  width: 100vmin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: cyan;
}

.ongoing_game {
  margin: 5vmin 5vmin;
  text-align: center;
  width: 75vmin;
  background: darkgreen;
  font-family: jumpman;
  font-size: 6vmin;
  color: rgb(4, 56, 18);
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  border-radius: 15px;
}

.headline {
  text-align: center;
  font-family: jumpman;
  color: red;
  font-size: 6vmin;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: orange;
}



/* @media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  } */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
