.game-watch {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2rem;
}

.game-canvas {
	display: flex;
	flex-direction:  column;
	justify-content: flex-start;
	align-items: center;
	width: 40rem;
	padding: 2rem;
}

.game-player-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5rem;
}

.game-player-picture {
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	height: 7rem;
	width: 7rem;
}

.game-player-picture img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

canvas {
	position: absolute;
}

.stop-watching-buttton {
	width:			570px;
	margin-top: calc((40rem * 768 / 1024) + 2rem);
}