h1 {
	padding: 0px;
	margin: 0px;
}

h4 {
	margin: 5px;
}

.chat_flex_row {
	padding: 2vmin 2vmin 2vmin 2vmin;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	border-style: solid;
	border-width: 2px;
	border-color: cyan;
}

.chat_contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0px;
	padding-right: 1rem;
	overflow: auto;
	height: 75vh;

	border-style: solid;
	border-width: 2px;
	border-color: magenta;
	width: 25%;
}

.contact,
.channel {
	border-radius: 15px;
	font-family: press_start;
	padding: 5px;
	margin: 15px 0px;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.online,
.member {
	background-color: rgb(2, 88, 2);
	color: orange;
}

.gaming,
.other {
	background-color: red;
	color: orange;
}

.offline{
	background-color: rgb(65, 65, 65);
	color: rgb(165, 165, 165);
	filter: grayscale(100%)
}

.profile_picture {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

.user {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 15px;
}

.icons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	column-gap: 5px;

}

.icon {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

.expansion_icon {
	height: 35px;
}

.rotate_icon {
	transform: rotate(90deg);
}

.selected {
	border-style: solid;
	border-width: 3px;
	border-color: orange;
}

.chat_window {
	width: 75%;
	padding-left: 1rem;

	border-style: solid;
	border-width: 2px;
	border-color: magenta;

	height: 75vh;
}
