h1 {
	padding: 0px;
	margin: 0px;
	margin-block-start: 0;
}

h4 {
	margin: 5px;
}

.first_collapsible {
	margin-top: 0;
}

.chat_flex_row {
	padding: 2vmin 2vmin 2vmin 2vmin;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.chat_contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0px;
	padding-right: 1rem;
	overflow: auto;
	height: 75vh;
	background-color: rgba(1, 47, 1, 0.642);
	width: 30%;
	border-radius: 15px;
}

.contact,
.channel {
	border-radius: 15px;
	font-family: press_start;
	padding: 5px;
	margin: 15px 5%;
	width: 90%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.online,
.member {
	background-color: rgb(2, 88, 2);
	color: orange;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(2, 88, 2);
}

.gaming,
.other {
	background-color: red;
	color: orange;
	border-style: solid;
	border-width: 3px;
	border-color: red;
}

.offline, 
.blocked {
	background-color: rgb(65, 65, 65);
	z-index: 0;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(65, 65, 65);
}

.offline img, 
.blocked img{
	filter: grayscale(100%);
}

.profile_picture {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

.header_profile_picture img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.user {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 5px;
}

.icons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	column-gap: 5px;

}

.icon {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

.expansion_icon {
	height: 35px;
}

.rotate_icon {
	transform: rotate(90deg);
}

.selected {
	border-style: solid;
	border-width: 3px;
	border-color: orange !important;
}

.chat_window {
	width: 70%;
	padding-left: 1rem;
	height: 75vh;
}

.chat_contact_list {
	display: flex;
	flex-direction: column;
}

.new_channel {
	margin: 0.3rem 1rem;
	align-self: center;
}

.popup-new-channel-input {
	width: 85%;
}

.pop-up-new-channel-selector {
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	justify-content: flex-start;
	align-items: center;
	column-gap: 2rem;
	margin: 1rem 0;
	width: 90%;
}
