<div class="chat_flex_row">
	<div class="chat_contacts">
		<button type="button" class="button_collapsible" (click)="changeShowFriends()">
			<h1>FRIENDS</h1>
		</button>
		<div *ngIf="showFriends" class="chat_contact_list">
			<div class="contact online">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND1</h4>
				</div>
				<div class="icons">
					<img class="icon" src="../../assets/dots_icon_yellow.png">
					<img class="icon" src="../../assets/unread_message_icon_yellow.png">
				</div>
			</div>
			<div class="contact offline">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND2</h4>
				</div>
			</div>
		</div>
		<button type="button" class="button_collapsible" (click)="changeShowOtherUsers()">
			<h1>OTHER USERS</h1>
		</button>
		<div *ngIf="showOtherUsers" class="chat_contact_list">
			<div class="contact online">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND1</h4>
				</div>
			</div>
			<div class="contact gaming">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND1</h4>
				</div>
			</div>
		</div>
		<button type="button" class="button_collapsible" (click)="changeShowChannels()">
			<h1>CHANNELS</h1>
		</button>
		<div *ngIf="showChannels" class="chat_contact_list">
			<div class="channel member">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND1</h4>
				</div>
			</div>
			<div class="channel other">
				<div class="user">
					<img class="profile_picture" src="../../assets/profile.jpg">
					<h4>FRIEND1</h4>
				</div>
			</div>
		</div>
	</div>
	<div>
		test
	</div>
</div>
