<div class="leaderboard_flex_column">
	<h1 class="title">- Leaderboard -</h1>
	<div *ngFor="let user of userList" class="leaderboard_box_row">
		<div class="leaderboard_user_box">
			<h4 class="red">#{{user.rank}}</h4>
			<div class="leaderboard_user_box">
				<img class="profile_picture leaderboard_picture" src="{{user.picture}}">
				<a routerLink="{{'/profile/' + user.username}}" routerLinkActive="active">
					<h4>{{user.username}}</h4>
				</a>
			</div>
		</div>
		<div class="leaderboard_user_box">
			<button class="button_small" *ngIf="user.id !== activeUser?.id && isOnline(user)" (click)="sendGameRequest(user)">CHALLENGE</button>
			<h4 class="yellow smaller_text">{{user.xp}} XP</h4>
			<div class="wins_losses">
				<h4 class="smaller_text">WINS</h4>
				<h4 class="smaller_text">{{user.wins}}</h4>
			</div>
			<div class="wins_losses">
				<h4 class="red smaller_text">LOSSES</h4>
				<h4 class="red smaller_text">{{user.losses}}</h4>
			</div>
		</div>
	</div>