.red {
	color: red;
}

.yellow {
	color: yellowgreen;
}

.title {
	padding: 1vmin 3vmin;
	margin-block-start: 0;
	margin-block-end: 1rem;
}

.wins_losses {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wins_losses h4 {
	margin: 5px;
}

.smaller_text {
	font-size: 0.8rem;
}

.challenge-button {
	width: 5rem;
}

.leaderboard_box_row {
	background-color: rgb(2, 88, 2);
	border-radius: 15px;
	padding: 1vmin 3vmin;

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: auto;
	max-height: 80px;
	margin: 5px 2vmin;
	padding-left: 3vmin;
	padding-right: 3vmin;
}

.leaderboard_picture {
	height: 5vmin;
	width: 5vmin;
}

.leaderboard_flex_column {
	display: flex;
	flex-direction: column; 
}

.leaderboard_user_box {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

@media (min-width: 1050px) {
	.leaderboard_user_box {
		gap: 2rem;
	}
	.smaller_text {
		font-size: 1rem;
	}
}