h1 {
	font-size: 5vmin;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 75vmin;
}

.game-display {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80%;
	width: 100%;
}

.game-canvas {
	display: flex;
	flex-direction:  column;
	justify-content: flex-start;
	align-items: center;
	width: 70%;
	height: 70%;
	padding: 2rem;
}

.game-player-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 10%;
	margin: 5rem 2rem;
}

.game-player-picture {
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	height: 70px;
	width: 70px;
}

.game-player-picture img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

canvas {
	position: absolute;
	width: 50%;
}

.leave-game-buttton {
	width:			30%;
}

