<div class="game-display">
	
	<div align="center">
		<button class="buttonSearch" *ngIf="search==true"
			(click)="startGame()" (click)="search = false">Search for opponent</button>
	
		<button class="buttonStopGame" *ngIf="gameRunning==true"
			(click)="stopGame()" (click)="search = true" (click)="gameRunning = false">Stop Searching</button>
	</div>
	
	<canvas #canvasEle
		(window:keydown.arrowup)="moveUp = true" (window:keyup.arrowup)="moveUp = false" (window:keydown.arrowdown)="moveDown = true" (window:keyup.arrowdown)="moveDown = false" ></canvas>
	
	
</div>>