/* .game-display {
	background-color: black;
	border-style: solid;
	border-color: red;
	border-width: 3px;

	width: 60%;
	height: 30rem;

	font-family: 'jumpman';
	color: red;
	text-align: center;

	margin: auto;
} */

canvas {
	position: absolute;
	display: block;
	margin-left:	5vmin;
	margin-right:	5vmin;
	margin-top:		5vmin;
	margin-bottom:	2vmin;
}

.buttonSearch {
	width:			570px;
	margin-top: 	5vmin;
	/* margin-left:	auto;
	margin-right: 	auto; */
}

.buttonStopGame {
	margin-top: 	5vmin;
}
