/* .game-display {
	background-color: black;
	border-style: solid;
	border-color: red;
	border-width: 3px;

	width: 60%;
	height: 30rem;

	font-family: 'jumpman';
	color: red;
	text-align: center;

	margin: auto;
} */

canvas {
	width:  90%;
	height: 100%;
	/* border: 2px solid black; */
	margin-left:	5vmin;
	margin-right:	5vmin;
	margin-top:		5vmin;
	margin-bottom:	2vmin;
}

.buttonReady {
	margin-top: 	10vmin;
	margin-left:	40%;

}
